/* Reset some default browser styles */
body, h1, h2, p, nav {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #e8ec1c;
    color: #1b1e1c;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Style the navigation */
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Style the main content */
main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
